
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.bg{
    background: url(bgmeteo.png) center/cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgjour {
    background: url(meteojour.png) center/cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgnuit {
    background: url(meteonuit.png) center/cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather{

    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    }

.temp{
    position: relative;
    text-align: center;
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow:  0px 10px #0000001f;
}

.temperature{
    font-size: 5rem;
    line-height: 250px;
    color: #df605b;
    font-weight: 100;
}

.ico{
    position: absolute;
    left: 0; 
    right: 0; 
    top: 150px;
    margin-left: auto; 
    margin-right: auto; 
    width: 250px;

}


.ressenti{
    margin-top: 80px;
    text-align: center;
    color: white;
}

.ville{
    color: white;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
}
.ville h2{
    font-size: 5rem;
    font-weight: 1900;

}


#doubletest{
    display: flex;
    color: white;
    text-align: center;
    display: flex;
    text-align: center;
}


.test{
    width: 200px;
    background: #1906267a;
    height: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 20px;
    border-bottom: solid 1px #dddddd;
}

.favoris {
    width: 70%;
    text-align: center;
}

#villes {
    border: solid 1px #dddddd;
}

.ajout{
    background: #f2f2f2;
    font-size: 1rem;
    padding: 10px;
}

.supp{

    color: white;
    font-size: 1rem;
    padding: 10px;
}


.remove {
    cursor: pointer;
    border-radius: 20px;
    border: #4c0733;
    background: #4c0733;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 1px 1px 19px 5px rgba(0,0,0,0.21);
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 1px 19px 5px rgba(0,0,0,0.21);
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #4c0733;
    color: #ede9e9;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 20px 20px 0 0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #750f36;
    color: white;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    display: none;
    overflow: hidden;
    background-color: #ffffff;
}

#optionslist {
    padding: 20px;
    border-bottom: solid 1px #dddddd;
}


@media (max-width: 480px) { 
    
    .bg{
        background: url(mobil.png) center/cover;
        height: 108vh;

    }

    .town{
        display: none;
    }

    .ressenti {
        margin-top: 157px;
        text-align: center;
        color: #190626;
    }

    .ville {
        color: #750f36;

    }
    
    .temp {
        position: absolute;
        top: -75px;
        right: -34px;
        text-align: center;
        background-color: white;
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }

    .doubletest{
        width: 100vw;
        overflow: auto;
    }



 }
