@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    padding: 0;
    margin: 0;
}

.barrerecherche{
    width: 100%;
}

.all {
    display: flex;
    font-family: Nunito;
}

.contenu {
    width: 85%;
}

.contenuetdroite {
    width: 100%;
    display: flex;
}

input[type=text] {
    appearance: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    border-bottom: 0.2em solid rgb(22, 27, 95);
    border-radius: 0.2em 0.2em 0px 0px;
    padding: 0.6em;
    width: 80%;
    margin-bottom: 50px;
    color: rgb(22, 27, 95);
}


input[type=button] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: rgba(0, 0, 0, 0);
    padding: 0.85em 1.5em;
    color: #161B5F;
    border-radius: 0.4em;
    transition: 1s;
    margin-left: 20px;

    input[type=button]:focus,
    input[type=button]:active {
        background: #161B5F;
        color: #fff;
    }

    ;
    margin-left: 1;
}


.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0px;
    outline: 0px;
    padding: 0px;
    transition: all 200ms ease-in 0s;
    cursor: pointer;
}

.btn--primary {
    background: rgb(127, 143, 244);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 2px;
    border-radius: 2px;
    padding: 12px 36px;
}

.btn--primary:hover {
    background: rgb(43, 47, 107);
    color: white;
}

.btn--primary:active {
    background: rgb(127, 143, 244);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 2px inset;
}

.menu {
    width: 14%;
    height: 100vh;
    background-color: rgb(5, 7, 36);
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 10px;
    height: 80px;
    line-height: 80px;
    width: 100%;
    text-align: center;
    transition-duration: 0.4s;
}

.menu a:hover {
    color: white;
    background-color: rgb(18, 20, 53);
    border-left: 10px solid white;
    width: calc(100% - 10px);
}

.menu a:active {
    color: white;
    background-color: rgb(43, 47, 107);
    border-left: 10px solid white;
    width: calc(100% - 10px);
}

.content {
    width: 75%;
    margin: 0 20px;
}

.droite {
    width: 25%;
    margin-left: 25px;
    margin: 0 20px;
    padding: 0 30px;
}

.ville {
    color: rgb(5, 7, 36);
    font-weight: bold;
}

.ojd {
    display: flex;
    width: 100%;
}

.hero {
    background: linear-gradient(rgb(43, 47, 107), rgb(240 133 75 / 57%)), url(https://www.campus-lehavre-normandie.fr/sites/default/files/styles/img__1920x1057__crop_main/public/media/images/photo-header.jpg?itok=dIk53k6Q) center center / cover;
    width: 100%;
    height: 40vh;
    position: relative;
}

.ico {
    position: absolute;
    top: 10px;
    left: 10px;
}

.temperature {
    font-size: 2.2rem;
    position: absolute;
    color: white;
    top: 72px;
    left: 184px;
}

.block1 {
    margin: 1%;
    padding: 20px;
    width: 18%;
    text-align: center;
    border: 1px solid rgb(206, 206, 206);
}

.block1 h3 {
    font-weight: 100;
    color: rgb(240, 133, 75);
}

.block1 p {
    font-weight: 800;
}

.block2 {
    margin: 1%;
    padding: 20px;
    width: 38%;
    text-align: center;
    border: 1px solid rgb(206, 206, 206);
}

.block2 h3 {
    font-weight: 100;
    color: rgb(240, 133, 75);
}

.block2 p {
    font-weight: 800;
}

.journee {
    margin-top: 25px;
    display: flex;
    width: 100%;
}

.temperatures {
    background-color: rgb(247, 246, 253);
    width: calc(12.5%);
    box-shadow: rgba(0, 0, 0, 0.09) 1px 1px 19px 5px;
    text-align: center;
    border-right: 1px solid rgb(231, 230, 230);
    padding: 10px;
}

.days {
    display: flex;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    align-items: center;
    margin: 15px;
}

.day {
    margin-right: 10px;
    padding: 20px;
    background: rgb(5, 7, 36);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    min-width: 110px;
    text-align: center;
    box-shadow: 5px 1px 5px 5px rgb(0 0 0 / 10%);
}



.arrowup {
    width: 20px;

}

.arrowdown {
    width: 20px;
    transform: rotate(180deg);
}

button.myBtn {
    background: rgb(240, 133, 75);
    color: white;
    border: none;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 7px;
    border-bottom: solid 3px #9d4617;
    margin: 15px 0;
}

button.myBtn:hover {
    background: #d1703c;
    transition: 1s;
}


button.btnmin {
    padding: 10px !important;
    background: rgb(5 7 36);
    border-bottom: solid 3px #01010a;
}

button.btnmin:hover {
    background: rgb(2, 3, 22);
    transition: 1s;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





/* cinema */

.heroCine {
    background: black;
    width: 100%;
    height: 55vh;
    position: relative;
}

.moment {
    margin-top: 25px;
    display: flex;
    width: 100%;
    overflow: auto;
}

.moments {
    background-color: rgb(247, 246, 253);
    min-width: 25%;
    box-shadow: rgba(0, 0, 0, 0.09) 1px 1px 19px 5px;
    text-align: center;
    border-right: 1px solid rgb(231, 230, 230);
    padding: 10px;
}

.moments img {
    max-width: 100%;
}

.moments p {
    font-size: 1rem;
    font-weight: 100;
}

.avenir {
    margin-top: 25px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.avenirs {
    background-color: rgb(247, 246, 253);
    width: 17.85%;
    box-shadow: rgba(0, 0, 0, 0.09) 1px 1px 19px 5px;
    text-align: center;
    border-right: 1px solid rgb(231, 230, 230);
    padding: 10px;
    display: flex;
}

.avenirs img {
    max-width: 100%;
}

.avenirs p {
    font-size: 1rem;
    font-weight: 100;
}